/* */

body {
    font-family: Verdana, sans-serif;
    height: 100%;
    margin-bottom: 2px;
    background-color: black;
}

header {
    font-size: 25px;
    font-weight: 800;
    font-family: sans-serif;
    width: 100%;
    background-color: yellow;
}


h1 {
    color: green;
    text-transform: uppercase;
    border-bottom: 1px solid red;
    text-shadow: .2em .2em silver;
}

p {
    font-size: medium;
    font-family: sans-serif;
    margin-left: 100px;
    color : white;
}

li {
    text-align: justify;
    font-family: "Caveat", cursive;
    font-size: small;
}

footer {
    align-content: center;
    position: relative;
    width: 100%;
    background-color: red;
    margin-top: -10px;
}

footer > p {
    font-size: smaller;
    color: white;
    text-align: center;
}

em {
    font-size: medium;
    font-weight: bolder;
    color:red;
}

img {
    float: left;
    margin: 0 12px;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav li {
    display: inline-block;
    width: 20%;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid red;
    text-align: center;
    color: green;
}

nav li:hover {
    background-color: #fff;
    color: blue;
    font-weight: bolder;
}

.container {
    text-align: center; /* Centra el contenido */
}

.columna {
    display: inline-block; /* Cambia a inline-block para permitir el ancho */
    width: 30%; /* Ancho de cada columna */
    margin: 1%; /* Espacio entre columnas */
    padding: 10px;
    background-color: #f0f0f0;
    border: 5px solid yellow;
    vertical-align: top; /* Alinea las columnas en la parte superior */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

p > img {
    max-width: 100%; /* Asegura que la imagen no desborde la columna */
    height: auto; /* Mantiene la proporción de la imagen */
}

div > p {
   padding: 20px;
    height: auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: blue;
    margin-left: 1px;
}

