ul {
    list-style: none;
    padding: 1px;
    display: block;
    clear: right;
    height: 24px;

}

ul li {
    display: inline;
    padding: 10px;
}

.par {
    background-color: red;
    font-size: 1.5em;
}

.impar {
    background-color: green;
    font-size: 1.5em;

}