* {
    font-family: 'Zen Dots', cursive;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
   color:white;
}

p {
    color : green;
    display : inline;
}

strong {
    color: red;
}